[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
chimoney-py = "*"
sqlalchemy = "*"
python-multipart = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2 = "*"
pipfile = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.11"
