*{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
}
body{
background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
min-height: 100vh;
}

